<?xml version="1.0"?>

<model>
    <name>sauvc2022_redflare</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>amvui</name>
        <email>amvui@gmail.com</email>
    </author>

    <description>
        Red Flare for sauvc2022
    </description>

</model>
